{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The content area on the blog page --}}
<main id="main" class="site-main">

	<div class="post-feed inner">
		{{!-- The tag below includes the post loop - partials/loop.hbs --}}
		{{> "loop"}}
	</div><!-- .post-feed -->

	{{!-- The tag below includes the newsletter subscription section - partials/newsletter-box.hbs --}}
	{{> "newsletter-box"}}

</main><!-- .site-main -->
