{{!-- Social links list --}}
<div class="social-links">
	{{#if @site.facebook}}
	<a href="{{facebook_url}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
	{{/if}}
	{{#if @site.twitter}}
	<a href="{{twitter_url}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
	{{/if}}

	<a href="https://linkedin.com/in/stephanosterburg" target="_blank" rel="noopener">{{> "icons/linkedin"}}</a>
	<a href="https://github.com/osterburg" target="_blank" rel="noopener">{{> "icons/github"}}</a>
	<a href="https://stackoverflow.com/users/5983691/osterburg" target="_blank" rel="noopener">{{> "icons/stack-overflow"}}</a>
</div><!-- .social-links -->
